@charset "UTF-8";
@import "reset";
@import "font";
// design
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    border: 0 none;
    vertical-align: top;
}
button {
    border: 0 none;
    background: transparent;
    cursor: pointer;
}
body {
    &::-webkit-scrollbar {display: none;}
    color:var(--black);
    background: var(--white);
    font: {
        family: 'SUIT';
        size: 18px;
        weight: 400;
    }
    line-height: 1.6;
    letter-spacing: -0.05em;
    overflow-x: hidden
}
// common
.image-wrap {
    overflow: hidden;
    text-align: center;
}
// header
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 48px 105px;
    }
}
.btn-menu {
    &__line {
        display: block;
        width: 30px;
        height: 2px;
        background: #2E008B;
        &--bottom {
            margin-top: 7px;
        }
    }
}
// section
.section{
    // border: 1px solid #2E008B;
    &--intro {
        overflow: hidden;
        height: 100vh;
        padding: 128px 24px 0;
    }
    &--about, &--history {
        // height: 300vh;
    }
    &--now {
        // height: 100vh;
        &__inner {
            overflow: hidden;
            padding: 200px 0;
            height: 200vh;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        text-align: center;
        background: #fff;
    }
    &__content {
        // height: 100vh;
        transition: all 0.3s ease-out;
        &--about, &--history {
            height: 300vh;
        }
        &--group {
            // height: 100vh;
            height: auto;
            min-height: 100vh;
        }
        &--now {
            position: relative;
            height: 200vh;
            padding: 200px 0;
            background: #fff;
            z-index: 50;
        }
        &--connect {
            position: relative;
            height: 100vh;
            background: #fff;
            z-index: 50;
        }
        &--sustain {
            // opacity: 0;
            height: auto;
            min-height: 100vh;
        }
    }
}
.slogan{
    font: {
        // size: 150px;
        size: 7.5vw;
        weight: 700;
    }
    text-align: center;
}
.main-title {
    font-size: 60px;
    font-weight: bold;
}
.main-desc {
    font-size: 24px;
    font-weight: 500;
}
// about
.about-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
    &--01 {
        width: 100%;
        background: url(@/assets/images/2.jpg) no-repeat;
        background-size: cover;
    }
    &--02 {
        width: 100%;
        background: url(@/assets/images/3.jpg) no-repeat;
        background-size: cover;
    }
    &.on {
        opacity: 1;
        z-index: 50;
    }
    // .section__content--about.active &--01 {
    //     opacity: 1;
    //     z-index: 49;
    // }
}
.stroketext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: transparent;
    font-size: 29vw;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
    &--fill {
        color: #fff;
        height: 0;
        overflow: hidden;
        transition: all 1s ease-out 0.5s;
        &.on {
            height: 100%;
        }
    }
}
// history
.history-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background: #fff;
    opacity: 0;
    transition: all 0.3s ease-out;
    z-index: -1;
    .section__content--history.active & {
        opacity: 1;
        z-index: 50;
    }
    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 15vw;
        font-weight: 500;
        text-align: center;
    }
    &__contents {
        position: absolute;
        left: 0;
        top: 10%;
        & img {max-width:none;}
    }
}
.group-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background: #000;
    transition: all 0.3s ease-out;
    z-index: -1;
    .section__content--group.active & {
        opacity: 1;
        z-index: 50;
    }
}
// now
.now-bg {
    height: 200vh;
    // text-align: right;
    .section--now.active & {
        position: fixed;
        top: 200px;
        left: 0;
        width: 100%;
    }
    &__text {
        position: relative;
        z-index: 10;
    }
}
// connect
.connect-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: coral;
    z-index: -1;
    transition: all 0.3s ease-out;
    .section--connect.active & {
        opacity: 1;
        z-index: 50;
    }
}
// sustain

// showroom
.showroom {
    width: 100%;
    height: 600px;
    background: url(../assets/images/showroom.jpg) no-repeat;
    background-position-x: center;
    background-position-y: 0%;
    background-size: 110%;
    transition: all 0.3s ease-out;
}

[data-name="sustain"].section__title {
    min-height: 1200px;
    & .titlewrap.active {
        position: static;
    }
}